@use "../../theme";

.home-screen {
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        text-align: center;
        padding: 20vh 10vw 0 10vw;
        min-height: calc(100vh + theme.$navbar-height);
        overflow: hidden;

        h1 {
            font-size: clamp(2rem, 4vw, 4rem);
            color: theme.$text-header;

            div:last-child {
                color: theme.$primary;
            }
        }

        p {
            font-size: clamp(1rem, 2vw, 1.5rem);
            color: theme.$text;
            max-width: 50ch;
        }

        .mouse-follow {
            position: absolute;
            width: 25vw;
            aspect-ratio: 1;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            transform-origin: top left;
            top: 30%;
            left: 60%;
            z-index: -1;
            background: linear-gradient(to right, rgb(207, 255, 239), rgb(213, 193, 254));
            animation: rotate 20s linear infinite;
            filter: blur(200px);
        }

        @keyframes rotate {
            from {
                rotate: 0deg;
            }
            50% {
                scale: 1 1.5;
            }
            to {
                rotate: 360deg;
            }
        }

        .animated-blob {
            position: absolute;
            width: 25vw;
            aspect-ratio: 1;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            transform-origin: top left;
            top: 30%;
            left: 60%;
            z-index: -1;
            background: linear-gradient(to right, rgb(207, 255, 239), rgb(193, 193, 254));
            animation: animation 10s infinite linear;
            filter: blur(150px);
        }

        @keyframes animation {
            0% {
                top: 30%;
                left: 60%;
            }
            10% {
                top: 50%;
                left: 70%;
            }
            20% {
                top: 60%;
                left: 50%;
            }
            30% {
                top: 40%;
                left: 40%;
            }
            40% {
                top: 30%;
                left: 30%;
            }
            50% {
                top: 50%;
                left: 20%;
            }
            60% {
                top: 60%;
                left: 20%;
            }
            70% {
                top: 40%;
                left: 30%;
            }
            80% {
                top: 30%;
                left: 40%;
            }
            90% {
                top: 20%;
                left: 50%;
            }
            100% {
                top: 30%;
                left: 60%;
            }
        }
    }

    .help {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 10vh 20vw;
        background-color: theme.$primary-bg;

        h2 {
            flex: 1;
            font-size: clamp(1rem, 5vw, 2.5rem);
            color: theme.$text-header;
            max-width: 60%;
        }

        .bottom {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: flex-end;
            gap: 1rem;
            max-width: 60%;

            p {
                font-size: clamp(1rem, 1vw, 1.2rem);
                color: theme.$text;
                text-align: end;
            }
        }

        @media screen and (max-width: 1200px) {
            h2 {
                max-width: 100%;
            }

            .bottom {
                max-width: 100%;
            }
        }
    }

    .services {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .text {
            padding: 0 10vw;
        }

        .options {
            padding: 0 10vw;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 2vh;

            .option {
                list-style-type: none;

                button {
                    font-size: clamp(0.75rem, 2vw, 1rem);
                }
            }

            .buttons {
                display: flex;
                margin-left: auto;

                &:not(:last-child) {
                    margin-left: auto;
                }

                button {
                    padding: 0.25rem;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: color 0.2s;

                    &:hover {
                        color: theme.$primary;
                    }

                    &:disabled {
                        opacity: 0.5;
                        cursor: default;

                        &:hover {
                            color: theme.$text;
                            opacity: 0.5;
                        }
                    }

                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(4, 80vmin);
            gap: 5vmin;
            padding: 0 10vw 2vh 10vw;
            margin-top: 2vh;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-padding-left: 10vw;

            .card {
                scroll-snap-align: start;
                display: inline-flex;
                flex-direction: column;
                gap: 1rem;
                width: 80vmin;
                height: 100%;
                padding: 8vmin;

                background-color: white;
                border-radius: theme.$radius;
                border: 1px solid theme.$border;
                box-shadow: theme.$soft-shadow;

                transform-origin: left;
                white-space: normal;

                .top {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    h4 {
                        color: theme.$text-header;
                        font-size: clamp(1.25rem, 3vw, 2rem);
                    }

                    .icon {
                        width: 4rem;
                        height: 4rem;
                        border-radius: theme.$radius;
                        background-color: theme.$primary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;

                        svg {
                            width: 2rem;
                            height: 2rem;
                        }
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: row;
                        align-items: flex-end;

                        .icon {
                            width: 3rem;
                            height: 3rem;

                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    list-style: none;
                    margin-top: 1rem;

                    li {
                        font-size: clamp(0.65rem, 2vw, 1rem);

                        &::before {
                            content: "✓";
                            color: theme.$primary;
                            font-weight: bold;
                            display: inline-block;
                            margin-right: 1vw;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .whyus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        background-color: theme.$primary-bg;
        padding: 10vh 10vw;
        overflow: hidden;

        > h2 {
            text-align: center;
            color: theme.$text-header;
            font-size: clamp(2rem, 4vw, 3rem);
        }

        > p {
            text-align: center;
            color: theme.$text;
            font-size: clamp(1rem, 2vw, 1.5rem);
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-content: center;
            align-items: center;
            gap: 5vw;
            width: 100%;

            .item {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                text-align: center;

                img {
                    height: 15vh;
                    width: 15vh;
                }

                h3 {
                    color: theme.$text-header;
                    font-size: clamp(1.5rem, 3vw, 2rem);
                }

                p {
                    color: theme.$text;
                    font-size: clamp(1rem, 2vw, 1.25rem);
                }
            }
        }

        .next-step {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            margin-top: 5vh;

            h3 {
                color: theme.$text-header;
                font-size: clamp(1.5rem, 3vw, 2rem);
                text-align: center;
            }
        }
    }

    .testimony {
        background-color: theme.$secondary-bg;
        padding: 5vh 5vw;
        margin: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        border-radius: 1rem;

        .icon {
            color: theme.$secondary;
            width: 4rem;
            height: 4rem;
        }

        .quote {
            color: theme.$text-header;
            font-size: clamp(1rem, 3vw, 2rem);
            font-weight: 600;
            text-align: center;
        }

        .author {
            color: theme.$text;
            font-size: clamp(1rem, 2vw, 1.5rem);
            text-align: center;
        }
    }

    .portfolio {
        padding: 0 10vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h2,
        h3 {
            text-align: center;
        }
        .portfolio-notice {
            background: theme.$primary-bg;
            border: 1.5px solid theme.$primary;
            color: theme.$text-header;
            padding: 1.2rem 1.5rem;
            border-radius: theme.$radius;
            margin: 1.5rem 0 2.5rem 0;
            font-size: 1.08rem;
            box-shadow: 0 2px 12px rgba(34, 139, 230, 0.06);
            display: flex;
            align-items: center;

            p {
                margin: 0;

                strong {
                    color: theme.$primary;
                    font-weight: 600;
                }
            }
        }
        .projects {
            display: grid;
            // grid-template-columns: repeat(2, minmax(300px, 1fr));
            // gap: 2rem;
            margin-top: 5vh;
            padding-bottom: 8rem;
            width: 80%;

            .project {
                width: 100%;
                aspect-ratio: 16 / 9;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 1px solid theme.$border;
                    box-shadow: theme.$soft-shadow;
                    border-radius: theme.$radius;
                }

                .text {
                    display: flex;
                    align-items: center;
                    gap: 2vw;

                    .tag {
                        margin-left: auto;
                        background-color: theme.$secondary-bg;
                        color: theme.$secondary;
                        padding: 0.25rem 1rem;
                        border-radius: theme.$radius;
                    }
                }
            }

            @media screen and (max-width: 1200px) {
                width: 100%;
            }

            @media screen and (max-width: 1024px) {
                // grid-template-columns: repeat(1, minmax(300px, 1fr));
                width: 80%;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .pricing {
        padding: 10vh 10vw;
        display: flex;
        justify-content: space-between;
        gap: 5vw;

        .left {
            h3 {
                max-width: 25ch;
            }

            a {
                margin-top: 2rem;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            justify-content: center;
            a {
                text-decoration: none;

                .package {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: theme.$radius;
                    padding: 2rem;
                    border: 1px solid theme.$border;
                    width: clamp(250px, 30vw, 600px);

                    .tag {
                        background-color: theme.$border;
                        color: theme.$text;
                        padding: 0.1rem 0.5rem;
                        border-radius: calc(theme.$radius / 2);
                        font-size: clamp(0.8rem, 1vw, 1rem);
                        width: fit-content;
                        font-weight: 600;
                    }

                    .from {
                        font-size: clamp(0.8rem, 1vw, 1rem);
                        color: theme.$text;
                        margin-top: 1rem;
                    }

                    .price {
                        font-size: clamp(1.5rem, 3vw, 2rem);
                        color: theme.$text-header;
                    }

                    ul {
                        margin-top: 1rem;
                        padding-top: 1rem;
                        border-top: 2px solid #ccc;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        li {
                            display: flex;
                            gap: 1rem;
                            font-size: clamp(0.8rem, 1vw, 1rem);
                            color: theme.$text;

                            &::before {
                                content: "✓";
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 5vh;

            .left {
                text-align: center;

                a {
                    justify-content: center;
                }
            }

            .right {
                width: 100%;
                .package {
                    width: 100%;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 16vh;

        > div {
            margin-top: 10vh;
            display: flex;
        }
    }
}
