@use "../../theme";
@use "sass:color";

.chatwithus-screen {
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw;
    min-height: calc(100vh - theme.$navbar-height);
    align-items: center;

    h1 {
        font-size: clamp(1rem, 2vw, 1.25rem);
        color: theme.$primary;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: clamp(1rem, 5vw, 2.5rem);
        color: theme.$text-header;
        text-align: center;
        max-width: 15ch;
        line-height: 1.1;
        margin-bottom: 3.5rem;
    }

    .chatwithus-img {
        width: 100%;
        height: auto;
        display: block;
        border: 1px solid theme.$border;
        border-radius: 1.5rem;
        object-fit: cover;
        margin-bottom: 3.5rem;
        max-width: 800px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    }
}

.calendar-booking {
    margin-bottom: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .calendar-btn {
        border-radius: theme.$radius;
        text-decoration: none;
        font-weight: 600;

        &:hover a {
            text-decoration: none;
            color: theme.$primary-bg !important;
        }
    }
}

.calendar-disclaimer {
    margin-top: 0.2rem;
    color: theme.$text;
    font-size: clamp(1rem, 2vw, 1.25rem);
    text-align: center;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .calendar-booking {
        width: 100%;
        display: flex;
        justify-content: center;

        .calendar-btn {
            width: 100%;
            max-width: 300px;
        }
    }
}