@use "./theme";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: calc(100vh - theme.$navbar-height);
	background-color: theme.$body-bg;
    padding-top: theme.$navbar-height;
	max-width: 100%;
  	overflow-x: hidden;
}

h1 {
	font-size: clamp(1.5rem, 3vw, 3rem);
	color: theme.$text-header;

    span {
		color: theme.$primary;
	}
}
h2 {
	font-size: clamp(1rem, 3vw, 1.5rem);
	color: theme.$primary;
}
h3 {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	color: theme.$text-header;
}
h4 {
	font-size: clamp(1rem, 3vw, 1.75rem);
	font-weight: 600;
	color: theme.$text-header;
}
h5 {
	font-size: clamp(1rem, 1.5vw, 1.25rem);
	font-weight: 600;
	color: theme.$text;
}
p {
	font-size: clamp(0.8rem, 1vw, 1rem);
	color: theme.$text;

    span {
		color: theme.$primary;
	}
}
a{
    text-decoration: none;
    color: theme.$primary;

    &:hover{
        text-decoration: underline;
    }
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: theme.$hover-grey;
	border-radius: 0 0 10px 10px;
}

::-webkit-scrollbar-thumb {
	background-color: theme.$text;
	border-radius: 10px;
	border: 2px solid theme.$hover-grey;
}

::-webkit-scrollbar-thumb:hover {
	background-color: theme.$text-header;
}